/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f9f9f9, #e8f5e9);
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #4caf50;
  font-family: "Merriweather", serif;
}

/* Form Container */
.form-container {
  animation: fadeIn 0.5s ease-in;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Form Elements */
form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: #4caf50;
  padding: 0 5px;
  font-family: "Merriweather", serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
  background-color: #388e3c;
}

.required {
  color: red;
}

/* Link Styling */
a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus,
select:focus {
  box-shadow: 0 0 5px #4caf50;
}
